@{
    ViewData["Title"] = "Upgrades";
}

<div class="text-center achievements_page">
    <div id="container">

        <div id="achievements_screen" class="screen">
            <div id="achievementssupper_panel" class="panel">
                <h1 id="achievements_header" class="panel_header">OSIĄGNIĘCIA</h1>
                <h3 id="gameinfoachievements_header" class="game_header">
                    Podgląd zdobytych osiągnięć.
                </h3>
                <a id="home_link" href="/Home/Dashboard">Wróć na stronę główną</a>
            </div>

            <div id="achievementslower_panel"></div>
            <div id="achievements_footer" class="footer">Strona stworzona przez Niulajta © 2024 Wszystkie prawa zastrzeżone</div>
        </div>
    </div>
</div>
