@{
    var filePath = System.IO.Path.Combine(System.IO.Directory.GetCurrentDirectory(), "wwwroot", "login.html");
    var fileContent = System.IO.File.ReadAllText(filePath);
}

<div class="text-center">
    @Html.Raw(fileContent);
</div>