
@{
    ViewData["Title"] = "Upgrades";
}

<div class="text-center upgrades_page">
    <div id="container">

        <div id="upgrades_screen" class="screen">
            <div id="upgradesupper_panel" class="panel">
                <h1 id="upgrades_header" class="panel_header">ULEPSZENIA</h1>
                <h3 id="gameinfo_header" class="game_header">
                    Tutaj użytkownik może odblokowywać ulepszenia, które zwiększają ilosć zdobytych punktów i są elementem postępu.
                    Ulepszenia odblokowuje się klikając na nie. Każde ulepszenie ma ograniczenie
                    w postaci wymaganego do odblokowania go poziomu doświadczenia.
                </h3>
                <a id="home_link" href="/">Wróć na stronę główną</a>
            </div>


        </div>

        <div id="main_footer" class="footer">Strona stworzona przez Niulajta © 2024 Wszystkie prawa zastrzeżone</div>
    </div>
</div>
